<h3>Please Fill out Passport Form for <%= current_user.email %> </h3>


<%= form_for @passport do |f| %>

  <%= render partial: 'passports/form', locals: {:f => f} %>

  <%= f.submit 'Obtain Passport' %> 

<% end %>
