<h1> What State do you live in? </h1>

<% @states.each do |state| %>
  <%= link_to state.name, user_state_path(current_user,state) %> <br>
<% end %>

<br>
<%= link_to "Home", user_path(current_user) %>
