<h4> Hello <%= current_user.email %> </h4>

<h5> Home State: </h5>

<h5> Current Identification: </h5>

<br>
<h5> What would you like to do? </h5>

<%= link_to "Choose State of Residence", user_states_path(current_user) %> | <%= link_to "Register For Passport" %> | <%= link_to "Register For State ID" %> 

